<div class="layout">
  <div class="l-left">
     <app-adminhomebar></app-adminhomebar>
  </div>
  <div class="l-right">
      <app-adminsearchbar></app-adminsearchbar>
      <div class="main">
          <h2 class="title">Movies</h2>
          <div class="main-container">
            <form #movieForm="ngForm" (ngSubmit)="movieForm.valid && onSubmit(movieForm)" class="add-movie-form">

                  <div class="buttons-top">
                      <button class="buttons-movie" id="button-add" type="button" [routerLink]="['/addmovie']" routerLinkActive="router-link-active" >Add Movie</button>
                      <button class="buttons-movie" id="button-delete" (click)="onDelete(movieForm)" type="submit">Delete Movie</button>
                  </div>
                  <table class="table-of-movies">
                      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="adminService.selectedAdmin._id">
                      <tr>
                          <th>Number</th>
                          <th>Title</th>
                          <th>Image</th>
                          <th>Price</th>
                          <th>Duration</th>
                          <th>Delete</th>
                          <th>Modify</th>
                      </tr>
                      <tr *ngFor="let movie of adminService.movies;let i=index">
                        <td>1</td>
                        <td>{{movie.movieName}}</td>
                        <td><img src="{{movie.movieImage}}"/></td>
                        <td>{{movie.moviePrice}}</td>
                        <td>{{movie.movieDuration}}</td>
                        <td><input type="checkbox" class="check-for-delete" name="movie-ids" value="" (click)="onDelete(movie._id,movieForm)"/></td>
                        <td><a class="button-edit"  [routerLink]="['/editmovie',movie._id]" routerLinkActive="router-link-active"  >Edit</a></td>

                      </tr>
                  </table>
              </form>
          </div>
      </div>
  </div>
</div>


