<div class="layout">
    <div class="l-left">
        <a href="#" class="toggle-menu topm1"><i class="material-icons">menu</i></a>
        <a href="Home.html" class="logo-menu">My Cinema</a>
        <div class="menu">
            <a href="Home.html" class="menu-item active">
                <img src="assets/assets/icons/icon_home-1.svg" alt="" class="ico">
                Home
            </a>
            <a href="Statistics.html" class="menu-item">
                <img src="assets/icons/icon_dashboard-1.svg" alt="" class="ico">
                Statistics
            </a>
            <a href="Movies.html" class="menu-item">
                <img src="assets/icons/icon_products-1.svg" alt="" class="ico">
                Movies
            </a>
            <a href="Cinema-rooms.html" class="menu-item">
                <img src="assets/icons/icon_Invoices-1.svg" alt="" class="ico">
                Cinema Rooms
            </a>
            <a href="Program.html" class="menu-item">
                <img src="assets/icons/icon_calendar-1.svg" alt="" class="ico">
                Program
            </a>
            <a href="Settings.html" class="menu-item">
                <img src="assets/icons/icon_setting.svg" alt="" class="ico">
                Settings
            </a>
        </div>
    </div>
</div>