<div class="image-container" style="width:40%;float:left;"></div>

<div style="width:60%;float:right;">
<div class="flex-white-container" style="width:20%;"></div>
<div class="white-contanier" style="width:60%;">
    <div class="title-container"> My Cinema</div>
    <div class="subtitle-container">Enter your email to receive the password reset link.</div>
    <form>
        <input type="text" id="email" placeholder="E-mail">
        <div class="button-container">
            <div class="button">Send E-mail</div>
        </div>

    </form>
</div>
<div class="flex-white-container" style="width:20%"></div>
</div>

