
<!DOCTYPE html>
<html lang="en">

<head>
    <title>MyCinema</title>
    <link rel="stylesheet" href="/Angular/src/assets/stylesheets/SignUp.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
  <div class="image-container" style="float:left"></div>

  <div style="float:right; width:60%">
  <div class="flex-white-container"></div>
  <div class="white-contanier" style="margin-left:30%;">


    <div class="title-container"> My Cinema</div>
    <div class="subtitle-container">Please complete to create your account.</div>
    <div class="signup-container">

        <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)"  >

            <div class="firstname-lastname-container">
                <div class="firstname"><input type="text" id="firstname" placeholder="First Name" #firstName="ngModel"
                  [(ngModel)]="userService.selectedUser.firstName"
                  name="firstName"   required
                  [ngClass]="{ 'invalid-textbox': signUpForm.submitted && !firstName.valid }"
                />
                <div *ngIf="signUpForm.submitted && !firstName.valid">
                  <label class="validation-message">This field is required.</label>
                </div></div>
                <div class="lastname"><input type="text" id="lastname" placeholder="Last Name" #lastName="ngModel"
                  [(ngModel)]="userService.selectedUser.lastName"
                  name="lastName"   required
                  [ngClass]="{ 'invalid-textbox': signUpForm.submitted && !lastName.valid }"
                />
                <div *ngIf="signUpForm.submitted && !lastName.valid">
                  <label class="validation-message">This field is required.</label>
                </div></div>
            </div>

            <input type="text" id="username" placeholder="Username" #username="ngModel" [(ngModel)]="userService.selectedUser.username" name="username"
            required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !username.valid }"/>
            <div *ngIf="signUpForm.submitted && !username.valid">
              <label class="validation-message">This field is required.</label>
            </div>

            <input type="text" id="email" placeholder="E-mail"  #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email"
            required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }"/>
            <div *ngIf="signUpForm.submitted && email.errors">
              <label *ngIf= "email?.errors.required" class="validation-message">This field is required.</label>
              <label *ngIf="email?.errors.pattern" class="validation-message">Invalid email address.</label>
            </div>



            <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password" minlength="8"  required [ngClass]="{ 'invalid-textbox': signUpForm.submitted && !password.valid }"/>
          <div *ngIf="signUpForm.submitted && password.errors">
            <label *ngIf="password?.errors.required" class="validation-message"
              >This field is required.</label
            >
            <label *ngIf="password?.errors.minlength" class="validation-message"
              >Enter atleast 8 characters.</label
            >
          </div>

              <input type="password"  placeholder="Confirm Password" appConfirmEqualValidator="password" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="userService.selectedUser.confirmPassword"
              minlength="8" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !confirmPassword.valid }"/>
              <div *ngIf="signUpForm.submitted && confirmPassword.errors">
                  <label *ngIf="confirmPassword?.errors.required" class="validation-message">
                    This field is required.
                  </label>
                <label *ngIf="confirmPassword?.errors.minlength" class="validation-message">Enter atleast 8 characters.
                  </label>      <span class="help-block"
      *ngIf="confirmPassword.touched && confirmPassword?.errors.notEqual &&
        !confirmPassword.errors?.required">
  Password and Confirm Password does not match
</span>
              </div>


            <div class="checkbox-container">
                <input type="checkbox" id="terms"  required (click)="open($event)"
                name="terms" >
                <label for="Terms">I agree with terms and conditions</label>

            </div>


            <div class="button-container">



                <input type="submit" value="Sign Up" class="button">
              </div>
 <!-- Success message -->
            <div class="success" *ngIf="showSucessMessage">
               successfully
            </div>

        <!-- Error message -->
            <div class="alert" *ngIf="serverErrorMessages">
               {{serverErrorMessages}}
            </div>

            <div class="button-container">

                <div class="return-signin" routerLink="/login"> Already have an account? Sign In.</div>


            </div>

        </form>
      </div>

   </div>
  </div>

    <div class="flex-white-container"></div>
</body>

