#movies-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  margin: 0 0 0 50px;
  text-align: left;
  padding: 25px 0 0 0;
}
.movie-container{
  width: 50vh;
  height: 35vh;
  font-family:SansPro-Semibold;
  padding:5px;
  background:white;

}
input[type=text],[type=number]{
  font-family:SansPro-Semibold;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(67,66,93,0.5);


}
input[type=radio]{
  align-items: flex-start;
  width:auto;

}
.radiobutton-container
{
  width: 50vh;
  height: 25px;
  font-family:SansPro-Semibold;
  font-size: 16px;
  font-weight:bold;
  padding:5px;
  background:white;
}
.button{

  font-family:SansPro-Regular;
  width: 40%;
  height: auto;
  padding-top:1vh;
  padding-bottom:1vh;
  border:1px solid;
  box-sizing: border-box;
  border-radius:4px;
  background-color:  #43425D;
  color: white;
  text-align:center;
  margin-left:2vh;
  margin-right:2vh;
  cursor:pointer;

}


.button:hover{


   background-color:  white;
   color: #43425D;

   border-color:#43425D;

   cursor:pointer;
}


.button-container{
    width:100%;
    display:flex;
    padding-top:2vh;
    justify-content: center;
    align-items: center;

}

.left-half {
  float: left;
  width: 100%;
}
.right-half {
  float: right;
  width:50%;
  margin-top:-10%;
  margin-right: 0;
  margin-left: 0;

}


tr
{
  padding:3vh;
  background-color: white;
  font-family:SansPro-Semibold;
  font-size: 16px;
  font-weight:bold;
}
th
{
  padding-right: 1vh;
}


@media only screen and (max-height: 600px) {
  .left-half {
    float: left;
    width: 100%;
  }
  .right-half {
    float: left;
    padding-top:150%;
    width:100%;

  }

}
@media only screen and (max-height: 900px) and (min-height:601px){
  .left-half {
    float: left;
    width: 100%;

  }
  .right-half {
    float: left;
    padding-top:100%;
    width:100%;

  }

}
@media only screen and (height: 1440px) and (width:900px){
  .right-half {
    float: right;
    width:50%;
    margin-top:-10%;
    margin-right: 0;
    margin-left: 0;

  }
}

@media only screen and (max-height: 1400px) and (max-width:1200px) and (min-height:901px) and (min-width: 910px){
  .left-half {
    float: left;
    width: 100%;
  }
  .right-half {
    float: left;
    padding-top:50%;
    width:100%;

  }

}

