<div class="layout">

    <div class="l-left">
        <a href="#" class="toggle-menu topm1"><em class="material-icons">menu</em></a>
        <a href="" routerLinkActive="router-link-active" class="logo-menu">MyCinema Admin</a>
        <div class="menu">

            <a [routerLink]="['/adminhome']" routerLinkActive="router-link-active"  class="menu-item">
              <img alt="" class="ico" src="../assets/icons/icon_home-1.svg">
              Home
          </a>
          <a [routerLink]="['/adminmovie']" routerLinkActive="router-link-active"   class="menu-item">
            <img src="../assets/icons/icon_products-1.svg" alt="" class="ico">
             Movies
          </a>
          <a [routerLink]="['/addroom']" routerLinkActive="router-link-active"  class="menu-item">
            <img src="../assets/icons/icon_Invoices-1.svg" alt="" class="ico">
             Cinema Rooms
          </a>
          <a [routerLink]="['/addprogram']" routerLinkActive="router-link-active"  class="menu-item">
            <img src="../assets/icons/icon_calendar-1.svg" alt="" class="ico">
           Program
          </a>
          <a [routerLink]="['/modifyuser']" routerLinkActive="router-link-active"  class="menu-item">
            <img src="../assets/icons/icon_setting.svg" alt="" class="ico">
           Users
          </a>
          <a [routerLink]="['/home']" class="menu-item">
              <img alt="" class="ico" src="../assets/icons/icon_home-1.svg">
              Back To Home
          </a>

        </div>
    </div>
    <div class="l-right">
    <app-adminsearchbar></app-adminsearchbar>
  <div class="main">
      <h2 class="title">Edit Movie : {{movie.movieName}}</h2>
      <form #editmovieForm="ngForm" (ngSubmit)="editmovieForm.valid && onSubmit(editmovieForm)" enctype="multipart/form-data">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="movie._id">
        <div class="buttons-top">
            <input class="buttons-movie" type="submit" value="Save"/>
            <input class="buttons-movie" type="button" (click)="resetForm(editmovieForm)"
                   value="Discard"/>
        </div>
        <div class="row-container">
            <div class="main-panel">
                <p>Current Name:</p>
                <input type="text" disabled name="old-movie-name" value="{{movie.movieName}}">
                <p>Current Price:</p>
                <input type="text" disabled name="old-movie-price" value={{movie.moviePrice}}>
                <p>Current Duration:</p>
                <input type="text" disabled name="old-movie-duration" value="{{movie.movieDuration}}">
                <p class="go-down">Current Image:</p>
                <img class="old-image" src="{{movie.movieImage}}" alt=""/>
            </div>
            <div class="main-panel">
                <p>New Name:</p>
                <input type="text" name="movieName" #movieName="ngModel" [(ngModel)]="adminService.selectedAdmin.movieName" required
                [ngClass]="{'invalid-textbox' :editmovieForm.submitted && !movieName.valid }"
                />
                <div *ngIf="editmovieForm.submitted && movieName.errors">
                <label *ngIf="movieName?.errors.required" class="validation-message">This field is required.</label>
                </div>

                <p>New Price:</p>
                <input type="number" min="0" max="100" name="moviePrice" #moviePrice="ngModel" [(ngModel)]="adminService.selectedAdmin.moviePrice"
                required [ngClass]="{'invalid-textbox' :editmovieForm.submitted && !moviePrice.valid}"/>
                <div *ngIf="editmovieForm.submitted && moviePrice.errors">
                  <label *ngIf="moviePrice?.errors.required" class="validation-message">This field is required.</label>
                </div>

                <p>New Duration:</p>
                <input type="time" step="1"  class="timing" name="movieDuration" #movieDuration="ngModel" [(ngModel)]="adminService.selectedAdmin.movieDuration"
                required [ngClass]="{'invalid-textbox' :editmovieForm.submitted && !movieDuration.valid}"/>
                <div *ngIf="editmovieForm.submitted && movieDuration.errors">
                  <label *ngIf="movieDuration?.errors.required" class="validation-message">This field is required.</label>
                </div>

                <p>New Image:</p>
                <input type="text" name="movieImage" #movieImage="ngModel" [(ngModel)]="adminService.selectedAdmin.movieImage"
                 required [ngClass]="{'invalid-textbox' :editmovieForm.submitted && !movieImage.valid}">
                <div *ngIf="editmovieForm.submitted && movieImage.errors">
                  <label *ngIf="movieImage?.errors.required" class="validation-message">This field is required.</label>
                </div>


            </div>
        </div>
    </form>
</div>
</div>
</div>
