<div class="table-row">
  <div class="column-left">
      <div class="information-play"></div>
      <p>Movie Long Long Long Long Name</p>
  </div>
  <div class="column-right">
      <button class="button-hour">20:00</button>
      <button class="button-hour">20:00</button>
      <button class="button-hour">20:00</button>
      <button class="button-hour">20:00</button>
      <button class="button-hour">20:00</button>
      <button class="button-hour">20:00</button>
      <button class="button-hour">20:00</button>
      <button class="button-hour">20:00</button>
      <button class="button-hour">20:00</button>
      <button class="button-hour">20:00</button>
      <button class="button-hour">20:00</button>
      <button class="button-hour">20:00</button>
      <button class="button-hour">20:00</button>
      <button class="button-hour">20:00</button>
      <button class="button-hour">20:00</button>
      <button class="button-hour">20:00</button>
  </div>
</div>
