<div class="layout">

  <div class="l-left">
      <app-adminhomebar></app-adminhomebar>
  </div>

  <div class="l-right">
      <app-adminsearchbar></app-adminsearchbar>
      <div class="body-main">
          <h2 class="title">Add a program</h2>
          <div class="add-program-div">
              <form #addProgramForm="ngForm" (ngSubmit)="addProgramForm.valid " class="addProgramForm">
                  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="programService.selectedProgram._id">
                  <p> Movie</p>
                  <input type="text" #movieName="ngModel" [(ngModel)]="programService.selectedProgram.movieName" id="movieName" name="movieName" placeholder="Movie Name" required [ngClass]="{'invalid-textbox' :addProgramForm.submitted && !movieName.valid }" style="font-size: 20px;">
                  <div *ngIf="addProgramForm.submitted && movieName.errors">
                      <label *ngIf="movieName?.errors.required" class="validation-message">This field is required.</label>
                  </div>
                  <p>Room</p>
                  <input type="text" #room="ngModel" [(ngModel)]="programService.selectedProgram.room" id="room" name="room" placeholder="Room" required [ngClass]="{'invalid-textbox' :addProgramForm.submitted && !room.valid }" style="font-size: 20px;">
                  <div *ngIf="addProgramForm.submitted && room.errors">
                      <label *ngIf="room?.errors.required" class="validation-message">This field is required.</label>
                  </div>
                  <br>

                  <div class="row-program">
                      <p>Date</p>
                      <input type="date" #date="ngModel" [(ngModel)]="programService.selectedProgram.date" id="date" name="date" required [ngClass]="{'invalid-textbox' :addProgramForm.submitted && !date.valid }" style="font-size: 18px;">
                      <div *ngIf="addProgramForm.submitted && date.errors">
                          <label *ngIf="date?.errors.required" class="validation-message">This field is required.</label>
                      </div><br>
                      <p>Hour</p>
                      <input type="time" #hour="ngModel" [(ngModel)]="programService.selectedProgram.hour" id="hour" name="hour" required [ngClass]="{'invalid-textbox' :addProgramForm.submitted && !hour.valid }" style="font-size: 18px;">
                      <div *ngIf="addProgramForm.submitted && hour.errors">
                          <label *ngIf="hour?.errors.required" class="validation-message">This field is required.</label>
                      </div>
                  </div>
                  <input class="buttons-program" type="submit" [disabled]="!addProgramForm.valid" (click)="onSubmit(addProgramForm)" value="Add Program">

                  <button class="buttons-program" type="button" [routerLink]="['/showprogram']" routerLinkActive="router-link-active" >Back to Program</button>

              </form>
          </div>
      </div>
  </div>
</div>
